<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categories</title>
    <link rel="stylesheet" href="/style.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
    </style>
  </head>
  <body>
    <%- include('header') %>
    <main>
      <h2 id="catergory-header">Subgenre</h2>
      <ul class="categories-container">
        <% subgenres.map(subgenre => { %>
        <li class="card">
          <a href="/categories/subgenre/<%= subgenre.name %>">
            <h3><%= subgenre.name %></h3>
          </a>
        </li>
        <% }); %>
      </ul>
      <h2 id="catergory-header">Platforms</h2>
      <ul class="categories-container">
        <% platforms.map(platform => { %>
        <li class="card">
          <a href="/categories/platform/<%= platform.name %>">
            <h3><%= platform.name %></h3>
          </a>
        </li>
        <% }); %>
      </ul>
      <h2 id="catergory-header">Game Modes</h2>
      <ul class="categories-container">
        <% gameModes.map(mode => { %>
        <li class="card">
          <a href="/categories/mode/<%= mode.name %>">
            <h3><%= mode.name %></h3>
          </a>
        </li>
        <% }); %>
      </ul>
    </main>
  </body>
</html>
