<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Information</title>
    <link rel="stylesheet" href="/style.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
    </style>
  </head>
  <body>
    <%- include('header') %>
    <main class="gameId-container">
      <div class="left">
        <h1><%= game.name %></h1>
        <div class="image-container">
          <img src="<%= game.image_path %>" alt="<%= game.name %>" />
        </div>
      </div>
      <div class="info">
        <p>Developer: <%= game.developer %></p>
        <p>Publisher: <%= game.publisher %></p>
        <p>Release Date: <%= game.release_date %></p>
        <p>Price: <%= game.price === "0.00" ? "Free" : game.price %></p>
        <form
          action="/delete/<%= game.id %>"
          method="post"
          onsubmit="return confirmDelete()"
        >
          <button id="delete-button" type="submit">Delete</button>
        </form>
      </div>
    </main>
    <script>
      function confirmDelete() {
        const password = prompt(
          "Enter the admin password to delete this game."
        );
        if (password === "simslife123") {
          return true;
        } else {
          alert("Incorrect password");
          return false;
        }
      }
    </script>
  </body>
</html>
