<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('header') %>
    <main class="gameId-container">
      <h1><%= game.name %></h1>
      <div class="image-container">
        <img src="<%= game.image_path %>" alt="<%= game.name %>" />
      </div>
      <p>Developer: <%= game.developer %></p>
      <p>Publisher: <%= game.publisher %></p>
      <p>Release Date: <%= game.release_date %></p>
      <p>Price: <%= game.price %></p>
    </main>
  </body>
</html>
