<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>Ctrl+Sim</h1>
      <nav>
        <input type="text" placeholder="Search.." />
        <a href="/">Home</a>
        <a href="/categories">Categories</a>
        <a href="/submit">Submit a Game</a>
      </nav>
    </header>
    <main>
      <ul class="game-card-container">
        <% games.map(game => { %>
        <li class="card">
          <img src="<%= game.image_path %>" alt="<%= game.name %>" />
          <h2><%= game.name %></h2>
          <p>Developer: <%= game.developer %></p>
          <p>Publisher: <%= game.publisher %></p>
          <p>Release Date: <%= game.release_date %></p>
          <p>Price: <%= game.price %></p>
        </li>
        <% }); %>
      </ul>
    </main>
  </body>
</html>
