<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <link rel="stylesheet" href="/style.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
    </style>
  </head>
  <body>
    <%- include('header') %>
    <div class="search-results-container">
      <h2>Search Results...</h2>
      <main>
        <ul class="search-result">
          <% games.map(game => { %>
          <li class="search-item">
            <a href="/games/<%= game.id %>">
              <img src="<%= game.image_path %>" alt="<%= game.name %>" />
              <h3><%= game.name %></h3>
            </a>
          </li>
          <% }); %>
        </ul>
      </main>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
